//Colors
$transparent: rgba(0, 0, 0, 0);
$brand-color: #68b738;
$black: #000000;
$white: #ffffff;
$bg-gray: #f2f2f2;
$bg-gray-dark: #eaeaea;
$border-gray: #e6e6e6;
$primary-color: #444444;
$dark-additional: #111111;
$product-name: #222222;


$header-color: $black;


//Fonts
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;
