//Colors
$transparent: rgba(0, 0, 0, 0);
$brand-color: #68b738;
$brand-color-second: #5eaa2f;
$hero-bg-green: #62a53a;
$black: #000000;
$white: #ffffff;
$bg-gray: #f2f2f2;
$bg-gray-dark: #eaeaea;
$border-gray: #e6e6e6;
$border-checkout-gray: #e7e7e7;
$border-diets-gray: #d9d9d9;
$example-border-gray: #cdcdcd;
$product-border-gray: #ebebeb;
$hover-border-gray: #bababa;
$devider-grey: #666666;
$primary-color: #444444;
$dark-additional: #111111;
$product-name: #222222;
$footer-hover-color: #3e3e3e;
$footer-hover-active: #6b6b6b;
$error-color: #ff8282;

$header-color: $black;


//Fonts
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;


//Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
