.additional {
  line-height: 14px;
}

.additional__title {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: $black;
}

.additional__inner {
  margin: 0 auto;
  padding: 0 20px;
}

.additional__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.additional__name {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: $product-name;
}

.additional__gift {
  width: 100%;
  height: 290px;

  background: $brand-color;
  opacity: 0.85;

  background-image:
    image-set(
    url("../../images/gift_bg-mob@1x.jpg") type("image/jpg") 1x,
    url("../../images/gift_bg-mob@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-size: contain;
}

.additional__gift-text {
  position: relative;

  padding: 186px 61px 0 58px;

  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 57px;
    left: 100px;

    width: 78px;
    height: 80px;

    background: url("../../images/icons/stack.svg#gift");
  }
}
