.button {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 0;

  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $brand-color;
  border: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus-visible {
    background-color: $brand-color-second;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--transparent {
    color: $primary-color;

    background-color: $bg-gray;

    &:focus {
      outline: 0;
    }

    &:hover,
    &:focus-visible {
      background-color: $product-border-gray;
    }

    &:active {
      background-color: $product-border-gray;
    }
  }

  @media (min-width: $tablet-width) {
    height: 54px;
    padding: 14px 0;

    font-size: 20px;
    line-height: 1.3;
  }
}
