.developer {
  display: flex;
  align-items: center;
  width: 280px;
  padding-top: 20px;

  font-size: 16px;
  line-height: 1.25;
  color: $primary-color;

  @media (min-width: $tablet-width) {
    width: 250px;
    padding: 0;
  }
}

.developer__logo {
  display: flex;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}
