.developer {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 20px;

  font-size: 16px;
  line-height: 1.25;
  color: $primary-color;

  &:focus {
    outline: none;
  }

  &:hover .developer__logo,
  &:focus-visible .developer__logo {
    path {
      fill: $brand-color;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 163px;
    flex-shrink: 0;
    padding: 0;
  }
}

.developer__logo {
  display: flex;
  margin-left: auto;
  flex-shrink: 0;
}
