.diet {
  display: grid;
}

.diet__label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0 25px 45px;

  @media (min-width: $tablet-width) {
    padding: 0 0 29px 60px;
  }
}

.diet__radio {
  position: absolute;

  &::before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    margin: 0 0 0 -45px;

    border: 1px solid $example-border-gray;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;

      margin: 0 0 0 -60px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    margin: 0 0 0 -36px;

    background-color: $white;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      margin: 0 0 0 -49px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 0 -48.5px;
    }
  }
}

.diet__input:checked + .diet__radio::after {
  background-color: $brand-color;
}

.diet__input:focus + .diet__radio::before {
  outline: none;
}

.diet__input:focus-visible + .diet__radio::before {
  border: 2px solid $primary-color;
}

.diet__input:disabled + .diet__radio::before {
  border: 1px solid $hover-border-gray;
  opacity: 0.3;
}

.diet__input:disabled + .diet__radio::after,
.diet__input:disabled ~ .diet__input-text {
  opacity: 0.3;
}
