.example {
  background: $bg-gray-dark;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $white 0%, $white 575px, $bg-gray-dark 575px, $bg-gray-dark 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $white 0%, $white 135px, $bg-gray-dark 135px, $bg-gray-dark 100%);
  }
}

.example__inner {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template:
      "header slider" 205px
      "text slider" 165px
      "info slider" 152px
      /auto 560px;
    padding-bottom: 75px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-area: header;
    margin-bottom: 0;
  }
}

.example__text {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    grid-area: text;
    width: 436px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 167px;
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    grid-area: info;

    flex-direction: column;
    align-items: start;
    gap: 60px;
    margin-bottom: 0;
  }
}

.example__info-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    gap: 43px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.example__info-item {
  position: relative;
  width: 124px;
  padding-top: 15px;
  padding-bottom: 18px;
  background-color: $bg-gray-dark;
  border: 1px solid $example-border-gray;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-gray-dark;
  }
}

.example__info-value {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.example__info-text {
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);

  width: 87px;
  margin: 0 auto;

  line-height: 1;
  text-align: center;

  background-color: $bg-gray-dark;

  @media (min-width: $tablet-width) {
    bottom: -5px;

    width: max-content;
    padding: 0 10px;

    font-size: 14px;

    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-gray-dark;
  }
}

.example__costs {
  margin-bottom: 20px;

  font-family: $primary-font;
  line-height: 1.42;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 63px;
  }
}

.example__slider {
  position: relative;
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    grid-area: slider;
  }
}

.example__slider-before {
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 256px;

  @media (min-width: $tablet-width) {
    height: 512px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;

    width: 4px;
    height: 100%;

    border-radius: 2px;
    background-color: $devider-grey;
  }
}

.example__slider-inner {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.example__slider-before-image {
  max-width: inherit;

  background: $bg-gray-dark;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $white 0%, $white 151px, $bg-gray-dark 151px, $bg-gray-dark 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $white 0%, $white 135px, $bg-gray-dark 135px, $bg-gray-dark 100%);
  }
}

.example__button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 2;

  width: 40px;
  height: 40px;

  background-color: $white;
  border: 2px solid $devider-grey;
  border-radius: 50%;
}
