.example {
  background: $bg-gray-dark;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $bg-gray-dark 0, $bg-gray-dark 462px, $white 462px, $white 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $white 0%, $white 135px, $bg-gray-dark 135px, $bg-gray-dark 100%);
  }
}

.example__inner {
  padding: 25px 0 40px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 101px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    padding: 0 0 70px 0;
  }
}

.example__text-column {
  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__title {
  margin: 0 0 41px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 59px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 145px 0;
  }
}

.example__text {
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin: 0 0 55px 0;

    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0 0 70px 0;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 167px;
    margin: 0 0 99px 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    gap: 51px;
    margin: 0;
  }
}

.example__info-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    gap: 43px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.example__info-item {
  width: 124px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__info-value {
  padding: 15px 0 18px 0;

  font-family: $primary-font;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  border: 1px solid $example-border-gray;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding: 15px 0 20px 0;

    font-size: 30px;
    line-height: 1.23;
  }
}

.example__info-text {
  width: 85px;
  margin: -10px auto 0 auto;
  padding: 0 2px;

  font-size: 12px;
  line-height: 1;
  text-align: center;

  background-color: $bg-gray-dark;

  @media (min-width: $tablet-width) {
    bottom: -5px;

    width: max-content;
    max-width: 162px;
    padding: 0 10px;

    font-size: 14px;

    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-gray-dark;
  }
}

.example__costs {
  margin: 0 0 20px 0;

  font-family: $primary-font;
  line-height: 1.42;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 66px;
  }
}

.example__slider {
  position: relative;
  width: 280px;
  margin: 0 auto;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    margin: 0;
  }
}

.example__slider-after-image {
  display: block;
}

.example__slider-before {
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 256px;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.example__slider-inner {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.example__slider-before-image {
  display: block;
  max-width: inherit;

  background: $bg-gray-dark;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $bg-gray-dark 0, $bg-gray-dark 361px, $white 361px, $white 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $white 0%, $white 135px, $bg-gray-dark 135px, $bg-gray-dark 100%);
  }
}

.example__button {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 2;

  height: 100%;
  padding: 0;

  color: $devider-grey;
  stroke: $devider-grey;

  background-color: $transparent;
  border: 0;

  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus-visible {
    color: $brand-color;
    stroke: $brand-color;
  }

  &:active {
    color: $brand-color;
    stroke: $brand-color;
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    top: 1px;

    height: 512px;
  }
}

.example__button-icon {
  position: relative;
  bottom: 50%;

  @media (min-width: $tablet-width) {
    position: initial;
  }
}

.example__button-icon-line {
  transform: translateY(128px);

  height: 256px;

  @media (min-width: $tablet-width) {
    transform: none;

    height: 512px;
  }
}
