.example {
  background: $bg-gray-dark;
}

.example__info-value {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.example__info-text {
  margin: 0 auto;

  line-height: 1;
  text-align: center;
}

.example__costs {
  font-family: $primary-font;
  line-height: 1.42;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
