.explanation__wrapper {
  padding: 0 0 53px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 47px 0;
    margin: 0 0 45px 0;

    border-bottom: 1px solid $border-gray;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 0 70px 0;

    border-bottom: none;
  }
}

.explanation__title {
  margin: 0 0 43px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 70px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 72px 0;
  }
}

.explanation__list {
  width: 280px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 139px;
    row-gap: 76px;
    width: auto;

    font-size: 16px;
    line-height: 1.5;

    counter-reset: my-counter;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    gap: 0;
  }
}

.explanation__list-item {
  position: relative;

  margin: 0 0 26px 80px;

  @media (min-width: $tablet-width) {
    width: 245px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    padding-top: 111px;

    &::after {
      content: counter(my-counter);
      counter-increment: my-counter;
      position: absolute;
      top: -40px;
      right: 0;
      z-index: -1;

      font-family: $primary-font;
      font-size: 280px;
      line-height: 1;
      font-weight: 400;
      color: $bg-gray;
    }

    &:first-child::after {
      right: 26px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: -2px;

    min-width: 60px;
    height: 60px;

    background-color: #68b738;

    @media (min-width: $tablet-width) {
      left: 0;
      top: 0;

      min-width: 80px;
      height: 80px;
    }
  }

  &--leaf {
    &::before {
      background-image: url("../../images/icons/stack.svg#explanation_leaf");
      background-size: 30px 32px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--powder {
    &::before {
      background-image: url("../../images/icons/stack.svg#explanation_powder");
      background-size: 26px 29px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--food {
    &::before {
      background-image: url("../../images/icons/stack.svg#explanation_food");
      background-size: 25px 30px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--clock {
    &::before {
      background-image: url("../../images/icons/stack.svg#explanation_clock");
      background-size: 26px 31px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.explanation__list-item:last-child {
  margin-bottom: 0;
}

.explanation__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 57px 0;
  }
}
