.footer {
  background: $bg-gray;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 55px 0;
  }
}

.footer__logo {
  width: 100%;
  padding-bottom: 20px;

  text-align: center;

  border-bottom: 1px solid $diets-border-gray;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-bottom: 0;

    border-bottom: none;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  margin: 0;
  padding: 20px 0;

  border-bottom: 1px solid $diets-border-gray;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0;

    border-bottom: none;
  }
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer__social-link {
  display: flex;
}
