.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;

  @media (min-width: $desktop-width) {
    position: absolute;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    background-color: $white;
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      border-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      background-color: $transparent;
    }
  }
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;

  @media (min-width: $tablet-width) {
    gap: 94px;
    align-items: center;
    height: 100%;

    padding: 25px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    gap: 430px;
    align-items: center;
    height: 100%;

    padding: 55px 0 0 0;
  }
}

.header__logo {
  z-index: 2;

  display: flex;
  align-items: center;
  width: 100%;

  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    gap: 13px;
    flex-shrink: 0;
    width: auto;
  }
}

.header__toggle {
  position: relative;
  z-index: 2;

  display: block;
  width: 37px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;

    width: 24px;
    height: 2px;

    background-color: $black;

    transition: all 0.3s ease 0s;
  }

  &::before {
    bottom: 0;
  }

  &::after {
    top: -2px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggle:focus-visible {
  outline: none;
}

.header__toggle-line {
  position: absolute;
  top: 6px;
  right: 0;

  width: 24px;
  height: 2px;

  background-color: $black;

  transition: all 0.3s ease 0s;
}

.header__toggle:focus-visible .header__toggle-line,
.header__toggle:focus-visible::before,
.header__toggle:focus-visible::after {
  background-color: $brand-color;
}

.header__toggle:active .header__toggle-line,
.header__toggle:active::before,
.header__toggle:active::after {
  background-color: $brand-color;
  opacity: 0.3;
}

.header__toggle.is-open {
  &::before {
    top: 6px;
    right: -3px;
    transform: rotate(45deg);

    width: 25px;
  }

  &::after {
    top: 6px;
    right: -3px;
    transform: rotate(-45deg);

    width: 25px;
  }
}

.header__toggle.is-open .header__toggle-line {
  transform: scale(0);
}
