.main-title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  color: $header-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}
