.main-nav {
  position: absolute;
  left: 0;
  top: -310%;
  width: 100%;
  z-index: 1;

  padding-top: 65px;

  font-family: $primary-font;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  background-color: $white;

  transition: all 0.3s ease 0s;

  @media (min-width: $tablet-width) {
    position: initial;
    z-index: 2;

    width: auto;
    margin-bottom: 3px;
    padding-top: 0;

    font-size: 18px;
    line-height: 1.33;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1;

    background: $transparent;
  }
}

.main-nav.is-open {
  top: 0;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 33px;
  }
}

.main-nav__item {
  padding: 22px 0 24px 0;

  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: 0;
  }
}

.main-nav__link {
  display: block;

  color: $black;

  @media (min-width: $tablet-width) {
    padding: 10px 0 10px 0;

    &--current {
      border-bottom: 2px solid $brand-color;
    }
  }

  @media (min-width: $desktop-width) {
    &--color-reverse {
      color: $white;
    }

    &--current-color-reverse {
      border-bottom: 2px solid $white;
    }
  }
}
