.main-nav {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.main-nav__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 16px;
  padding: 0;

  background-color: $transparent;
  border: initial;
}

.main-nav__toggle span {
  height: 2px;
  width: 100%;

  background-color: $black;
}

.main-nav__wrapper {
  position: absolute;
  left: 0;
  top: 83px;
  width: 100%;
  transform: translateY(-145%);
  z-index: 1;

  background-color: $white;

  transition: transform 0.5s ease;
}

.main-nav__wrapper--active {
  transform: translateY(0%);
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  padding: 22px 0 24px 0;

  border-bottom: 1px solid $border-gray;
}

.main-nav__link {
  color: $black;
}
