.main-hero {
  font-family: $primary-font;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background: linear-gradient(to bottom, $brand-color 0%, $brand-color 302px, $white 302px, $white 100%);
  opacity: 0.85;
}

.main-hero__title {
  color: $white;
}

.main-hero__content {
  display: flex;
  flex-direction: column;
}

.main-hero__link {
  order: 2;
}
